body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    background-image: url("https://image.freepik.com/free-vector/abstract-hexagon-dark-red-background_5205-122.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 1800px 1000px;
}

.header {
    background-color: black;
    color: red;
    margin-bottom: 5px;
    font-size: 30pt;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
    padding: 20px
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.topnav {
    overflow: hidden;
    background-color: darkgrey;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}
.column {
    float: left;
    padding: 30px;
    font-size: 16pt;
    line-height: 30px;
    width: 90%;
    position: center;
    margin: 20px;
    color: white;
    background: rgba(0,0,0,0.6);
    border-style: solid;
    border-color: darkred;
}

    .column colhead {
        font-size: 20pt;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}
.combo {
    font-family : 'Courier New';
    font-size : 60pt;
    color: red;
    text-align: center;
    width: 100%;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }
}
